body{
  color: white;
  background: black;
  margin: 2px;
}

header {
  font-size: 30px;
  color: #2196F3
    border-bottom: solid 2px white;
  margin:20px;
  padding: 20px;
   font-family: "Playwrite BE VLG", cursive;
}

.entrada {
   font-family: "Montserrat", sans-serif;
  background:rgb(235,104,104);
  margin:20px;
  padding:20px;
  font-size:30px;
  display:flex;
}

descriçao {
  font-size:20px;
}

primeiro{
  margin-right:20px;
}

img{
  height:200px;
}

.clipes{
  display:flex;
  overflow-x: auto;
  gap:10px;
}

p{
  text-align: justify;
}

.outros{
  padding-left:20px;
  padding-right:20px;
  font-size:30px;
   font-family: "Montserrat", sans-serif;
}

.outros img{
  opacity: 0.5;
}

.outros img:hover{
  opacity: 1.0;
  border:solid 3px #E91E63;
  border-radius:20px;
}

